*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

span{
  display: inline-block;
}

ul{
  list-style: none;
}

html{
  font-size: 62.5%;
}

button{
  background-color: transparent;
  border: none;
}